#login {
margin: 0px auto;
width: 407px;
height: 200px;
}
h1 {
font-weight: 100;
font-size: 20px;
margin-bottom: 10px;
color: #4D4D4D;
}
#logout {
margin: 0px auto;
width: 407px;
height: 200px;
}
h1 {
font-weight: 100;
font-size: 20px;
margin-bottom: 10px;
color: #4D4D4D;
}